body {
    background-color: #272727;
}

.container {
    display: grid;
    grid-gap: 20px;
}

.autofill {
    grid-template-columns: repeat(auto-fill, 150px);
}

.autofit {
    grid-template-columns: repeat(auto-fit, 150px);
}


.items {
    background-color: #505050;
    border: solid 1px black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.item4 {
    grid-column-end: -1;
}