body {
    background-color: #272727;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 
        [site-left] 1fr 
        [content-start] 500px 
        [side-right] 1fr;
    grid-template-rows: 
        [content-top] repeat(10, auto)
        [content-bottom];
}

.item {
    background: #999999;
}


.item3 {
    background: slateblue;
    grid-column: content-start;
    grid-row: content-top / content-bottom;
}